$primary: black;
$secondary: white;

$active: rgba(23, 190, 187, 0.8);
$busy: rgba(252, 100, 113, 0.8);
$away: rgba(255, 253, 130, 0.8);

// Triangle Mixin
@mixin triangle($color, $size, $direction) {
  width: 0;
  height: 0;
  @if $direction == "up" {
    border-right: ($size + px) solid transparent;
    border-left: ($size + px) solid transparent;
    border-bottom: ($size + px) solid $color;
  }
  @if $direction == "down" {
    border-right: ($size + px) solid transparent;
    border-left: ($size + px) solid transparent;
    border-top: ($size + px) solid $color;
  } 
  @if $direction == "right" {
    border-top: ($size + px) solid transparent;
    border-bottom: ($size + px) solid transparent;
    border-left: ($size + px) solid $color;
  }
  @if $direction == "left" {
    border-top: ($size + px) solid transparent;
    border-bottom: ($size + px) solid transparent;
    border-right: ($size + px) solid $color;
    }
}

#propios{
  color: $active;
  float: right;
}



#myMessages{
  float: right;
}

#recibidos{
  color: $busy;
  float: right;
}

.card{
  width: 24%;
  float: left;
  max-height: 400px;
  overflow-y: auto;
}

#Box{
  width: 74%;
  float: right;
}


#center-item {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;

  


    input {
      width: 100%;
      box-sizing: border-box;
      margin-top: 20px;
      outline: none;
      border: none;
      background-color: #ecf0f1;
      padding: 10px;
      line-height: 2;
      font-size: 16px;
    }

    button {
      background-color: $primary;
      font-size: 18px;
      width: 100%;
      outline: none;
      border: none;
      padding: 15px;
      margin-top: 20px;
      cursor: pointer;
      color: $secondary;

      &:hover {
        background-color: gray;
      }

    }

    p {
      text-align: center;
      margin-bottom: 0px;

      a {
        text-align: center;
        text-decoration: none;
        padding-left: 3px;

        &:hover {
          text-decoration: none;
        }
      }
    }
  
  } 

* {
  margin: 10; padding: 10px;
  box-sizing: border-box;
  font-family: 'Nunito', sans-serif;
}

.sideBar {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  h1 {
    margin: 0.5em auto;
    color: #FFF;
    text-align: center;
  }
}

#sideBar {
  background: rgba(255, 255, 255, 0.5);
  width: 25%;
  height: 100%;
  border-radius: 0.2em;
  float: left;
  box-shadow: 1px 1px 12px rgba(0, 0, 0, 0.1);
}

#inputMessages{
  background: rgba(128, 115, 115, 0.541);
  width: 100%;
  border-radius: 0.2em;
  position: relative;
  box-shadow: 1px 1px 12px rgba(0, 0, 0, 0.1);
  float: right;
}
#MessagePane{
width: 75%;
float: right;
}

#sendMessage{
  width: 15%;
}

#MessagesBox{
  background: rgba(255, 255, 255, 0.3);
  width: 100%;
  height: 25%;
  border-radius: 0.2em;
  box-shadow: 1px 1px 12px rgba(0, 0, 0, 0.1);
  float: left;
  height: 500px;
}

html,body {
  background: linear-gradient(120deg, $primary, $secondary);
  overflow: hidden;
}
#myEmail {
  width: 100%;
  color: $active;
}

#Chats {
  width: 100%;
  height: 450vh;
}

#CHATBOX {
  width: 85%;
}

#Contactos{
  width: 25%;
}

#chatBox {
  background: linear-gradient(120deg, $primary, $secondary);
  overflow: hidden;
  width: 100%;
}

#contacs{
  float: left;
    text-align: left;
    margin: -0.25em 2em;
    font-weight: 300;
    color: #FFF;
    border: none;
    width: 47%;
    height: 100%;
    border-top-right-radius: 0.2em;
    border-bottom-right-radius: 0.2em;
    font-size: small;
    background: bottom;
}

#concactsdiv{
  float: left;
  text-align: left;
  margin: -0.25em 2em;
  font-weight: 300;
  color: #FFF;
  border-top-right-radius: 0.2em;
  border-bottom-right-radius: 0.2em;
  font-size: small;
  background: bottom;
}

#contacs:hover{
  background: rgba(255, 255, 255, 0.5);
} 

#buttons{
  border: none;
  background: azure;
}